*{margin: 0; padding: 0; box-sizing: border-box; outline: none;}
.principal{
    display: grid;
    grid-template-columns: 75% 25%; /* Estou informando que deve ter duas colunas (dois valores)*/
    grid-template-areas: 'cabecalho formulario'
                         'principal formulario'
                         'rodape formulario' ;
    height: 100vh; /* View Port Height = 100vh todo o dipositivo*/
    font-family: Arial;
    
}

/*CABEÇALHO*/
header{grid-area: cabecalho;}
.logo{display: flex; align-items: center; padding: 10px 30px;}
.logo img{width: 80px;} /* tamanho da logo no cabeçalho */

/*PRINCIPAL*/
main{ grid-area: principal;}
/*FORMULARIO*/
aside{grid-area: formulario;}
/*RODAPÉ*/
footer{grid-area: rodape;}